body {
    margin: 0
}

h1 {
    font-family: 'Jost', sans-serif;
    color: white;
}

p {
    font-family: 'Jost', sans-serif;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 300px;
    height: 550px;
    background-color: #86C45D;
}

.heroGroup {
    display: flex;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    color: white;
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
}

.heroGroup img {
    display: flex;
    width: 200px;

}

.bottomFooterWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottomFooterButtons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: space-around;
}

.bottomFooterButtons > .smallButton {
    font-family: 'Jost', sans-serif;
    font-size: .75em;
    height: 40px;
    width: 70px;
    background-color: white;
    color:  #86C45D;
}

.ingredientList {
    display: flex;
    width: 200px;
    height: 100px;
}